<!DOCTYPE html>
<html>
<head>
    <title>New Virginia, Iowa</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
</head>
<body>

<div class="main_body">

    <div class="title_area">
        <div class="nav_headers">{% include "wes_cms/navigation_header.html" %}</div>
    </div>

    <div class="content">
    {% include "wes_cms/navigation.html" %}
    {% block content %}{% endblock %}
    </div>

    <div class="footer">
        <a href="{% url sitemap %}">sitemap</a>
    </div>
</div>

</body>
</html>